@tailwind base;
@tailwind components;
@tailwind utilities;

.square {
    width: 50%;
    padding-bottom: 50%;
    background-color: teal;
  }

  img {
    pointer-events: none;
}

button, a {
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}